* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.sidebar {
    width: 200px;
    background-color: #f3f4f6;
    box-sizing: border-box;
    border-right: 1px solid #000000; /* 黒色の境界線 */
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.ranking-post-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 0.5em;
    height: 3.0em; /* 2行の高さ */
    word-wrap: break-word; /* 単語が要素の幅を超える場合に単語を改行 */
}

@media (max-width: 640px) {
    .ranking-post-title {
        max-width: 6em; /* 9chを適切なem値に変更 */
    }
}

@media (min-width: 641px) {
    .ranking-post-title {
        max-width: 11em; /* 18chを適切なem値に変更 */
    }
}

.ranking-user-name {
    max-width: 100px;
    /* 適切な幅に調整 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 640px) {

    .ranking-user-name {
        max-width: 200px;
        /* PC版の幅に調整 */
    }
}